.main{
	padding-top:10px;
	height:910px;
	
}

/*组织机构树容器*/
.left_org{
	border:1px solid #CCC;
	width:200px;
	margin-left:10px;
	text-align:center;
	height:calc(100% - 10px);
}

.left_org span.title{

	display:inline-block;
	border-bottom:1px solid #CCC;
	width:100%;
	padding-top:3px;
	padding-bottom:3px;
}
.right_content{
	position:relative;
	margin-left:10px;
	width:1500px;
	border:1px solid #CCC;
	height:calc(100% - 10px);
	
}
.tool_button{
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
}

.paging{
	position:absolute;
	right:0px;
	bottom:2px;
	padding:0px;
	
}
.paging .pagination{
	margin:0px;
}

.unit{
    margin-left: 10px;
	padding-left: 0px;
	/*width: 50px;*/
}

.select-time{
    width: 75px;
}

/*宽度比例*/
.w10 { width: 10%; }
.w20 { width: 20%; }
.w30 { width: 30%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w70 { width: 70%; }
.w80 { width: 80%; }
.w90 { width: 90%; }
.w5 { width: 5%; }
.w15 { width: 15%; }
.w25 { width: 25%; }
.w35 { width: 35%; }
.w33 { width: 33.333%; }
.w45 { width: 45%; }
.w55 { width: 55%; }
.w65 { width: 65%; }
.w75 { width: 75%; }
.w85 { width: 85%; }
.w95 { width: 95%; }