.title{
	padding-left:30px;
	margin-bottom:20px;
}
.form-container{
	margin-left:450px;
	padding-left:30px;
	position:relative;
	width:600px;
}
label{
	height: 40px;
}
.form-item{
	margin-top:10px;
}
.form-item span{
	padding-left:10px;
}
.form-item input,.form-item textarea{
	display:inline-block;
}
.control-label{
	padding-right:5px;
}
.submit{
	position:absolute;
	right:0px;
	bottom:5px;
	margin-top:10px;
}
.wd10 {width:10px}
.wd20 {width:20px}
.wd30 {width:30px}
.wd40 {width:40px}
.wd50 {width:50px}
.wd60 {width:60px}
.wd70 {width:70px}
.wd80 {width:80px}
.wd90 {width:90px}
.wd100 {width:100px}
.wd110 {width:110px}
.wd120 {width:120px}
.wd130 {width:130px}
.wd140 {width:140px}
.wd150 {width:150px}
.wd160 {width:160px}
.wd170 {width:170px}
.wd180 {width:180px}
.wd190 {width:190px}
.wd200 {width:200px}
.wd210 {width:210px}
.wd220 {width:220px}
.wd230 {width:230px}
.wd240 {width:240px}
.wd250 {width:250px}
.wd260 {width:260px}
.wd270 {width:270px}